<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>167925135381-mr7l884boau1etqufubqhi0ril7sabjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167925135381-mr7l884boau1etqufubqhi0ril7sabjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCJozhg0WpgU3zMpUXcTM0HMHG4bUkag8o</string>
	<key>GCM_SENDER_ID</key>
	<string>167925135381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.summitLabs.VolunteerNow</string>
	<key>PROJECT_ID</key>
	<string>volunteernow-1508698583608</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteernow-1508698583608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167925135381:ios:6dcd28b332f5b37d</string>
	<key>DATABASE_URL</key>
	<string>https://volunteernow-1508698583608.firebaseio.com</string>
</dict>
</plist>